$text-primary: var(--text-primary);
$text-primary-inverse: var(--text-primary-inverse);
$text-secondary: var(--text-secondary);
$text-secondary-inverse: var(--text-secondary-inverse);
$text-teritary: var(--text-teritary);
$text-teritary-inverse: var(--text-teritary-inverse);
$text-link: var(--text-link);
